.Input {
  margin-left: 25px;
}

.input-box {
  margin-top: 30px;
}

.input-box-togle {
  display: none;
}

.input-item {
  margin-right: 20px;
  width: 50px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  background-color: rgb(177, 194, 248);
  color: #fff;
}

.radios-none {
  display: none;
}

.start-btn-box {
  display: none;
}

.btn-start {
  margin-top: 20px;
  margin-right: 15px;
  padding: 5px 10px;
  background-color: rgb(249, 185, 108);
  color: #fff;
  border: 0.5px solid rgb(237, 236, 236);
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.btn-cancel {
  margin-top: 50px;
  padding: 5px 30px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  background-color: rgb(243, 136, 136);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.btn-cancel-box {
  display: none;
}

.stop-color {
  background-color: rgb(155, 208, 155);
}

.stop-color-none {
  display: none;
}

.restart-color {
  background-color: rgb(247, 164, 246);
}

.restart-color-none {
  display: none;
}

.delete-btn {
  margin-right: 15px;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  background-color: rgb(188, 132, 240);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}