

.time {
    display: flex;
}

.time-second {
    font-size: 70px;
}

.time-minute {
    font-size: 70px;
}

.time-hour {
    font-size: 70px;
}

.timer {
    display: flex;
    gap: 30px;
}

.timer-input {
    width: 80px;
    font-size: 20px;
}

.buttonset {
    margin-top: 20px;
}
.start {
    padding: 5px 25px;
    border: 0;
    background-color: royalblue;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.reset {
    padding: 5px 25px;
    border: 0;
    background-color: rgb(250, 74, 74);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}